/*flexbox style*/

:root {
    --gradient: linear-gradient(to bottom, #b8b8b8 0%, #858585 100%);
    --gradient-light: linear-gradient(to bottom, #b4e8f8 0%, #cbd3f0 100%);
}

#grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFFFFF;
    height: 100%;
    padding: 0;
}

.grid-item{
    display: grid;
    grid-template-rows: 2% 53% 45%;
    grid-template-columns: 100%;
    background-color: #FFFFFF;
    height: 100%;
    padding: 0;
}



#map-heading{
    grid-column: 1/3;
    grid-row: 1/2;
}

#map-layer{
    grid-column: 1/3;
    grid-row: 2/3;
}

#CalenderPlot{
    grid-column: 1/2;
    grid-row: 3/4;
}



/*Detail panels grid arrangements*/
#details-panel {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 25% 25% 25% 25%;
    background-color: #FFFFFF;
    /*box-shadow: -2px 0px 20px -5px #7a7a7a;*/
}


#ScatterPlot1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot2{
    grid-column: 2/3;
    grid-row: 1/2;
}

#ScatterPlot3{
    grid-column: 1/2;
    grid-row: 2/3;
}

#ScatterPlot4{
    grid-column: 2/3;
    grid-row: 2/3;
}

#ScatterPlot5{
    grid-column: 1/2;
    grid-row: 3/4;
}

#ScatterPlot6{
    grid-column: 2/3;
    grid-row: 3/4;
}

#ScatterPlot7{
    grid-column: 1/2;
    grid-row: 4/5;
}

#ScatterPlot8{
    grid-column: 2/3;
    grid-row: 4/5;
}

#ScatterPlot9{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot10{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot11{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot12{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot13{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot14{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot15{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot16{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot17{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot18{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot19{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot20{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot21{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot22{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot23{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot24{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot25{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot26{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot27{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot28{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot29{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot30{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot31{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot32{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot33{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot34{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot35{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot36{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot37{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot38{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot39{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot40{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot41{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot42{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot43{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot44{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot45{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot46{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot47{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot48{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot49{
    grid-column: 1/2;
    grid-row: 1/2;
}

#ScatterPlot50{
    grid-column: 1/2;
    grid-row: 1/2;
}


/*Detail panels grid arrangements end*/

#heading {
    margin-left: 0;
}

#cancerFilter {
    margin-left: 25%
}


/*map styles*/
.map {
    width: 100%;
    /*height: 100%;*/
    background-color: white;
}
#map-heading {
    fill: #212529;
    /*font-size: 48px;*/
    font-family: 'Signika', sans-serif;

    text-align: center;
    margin: auto;
}

.map-layer {
    background-color: white;
    stroke: #aaa;
}

#sidebar-right1{
    background-color: white;
}
#sidebar-right2{
    background-color: white;
}

.sidebar-slider-heading{

    /*margin: auto;*/
    margin-left: 17px;
    margin-top: 10px;
}

.slider-name{
    margin: auto;
}

.slider{
    width: 100px;
}


.legend {
    position:absolute;
    left:20px;
    top:30px;
}

.yaxis {
    font: 10px sans-serif;
}
/*map styles ends*/

/*sidebar styles*/
.sidebar{
    background-image: var(--gradient);
}

/*sidebar style end*/

.education-path {
    pointer-events: none;
}


.cancertype{
    pointer-events: none;
}


.axis line,
.axis path {
    shape-rendering: crispEdges;
    fill: transparent;
    stroke: #555;
}
.axis text {
    font-size: 11px;
}


.bar {
    fill-opacity: 0.5;
}
.bar.left {
    fill: steelblue;
}
.bar.right {
    fill: firebrick;
}
.incomeChart{
    display: block;
    margin: auto;
}


.insuranceChart{
    display: block;
    margin: auto;
}

.brushed {
            fill: #ff3399;
            stroke: #8e1b54;
            opacity: 1.0;
        }

.point {
            fill: #4393c3;
            stroke: "black";
            opacity: 1.0;
        }