/*flexbox style*/

:root {
    --gradient: linear-gradient(to bottom, #b8b8b8 0%, #858585 100%);
    --gradient-light: linear-gradient(to bottom, #b4e8f8 0%, #cbd3f0 100%);
}

#grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100%;
    padding: 0;
}

.grid-item{
    display: grid;
    grid-template-rows: 2% 53% 45%;
    grid-template-columns: 100%;
    background-color: #FFFFFF;
    height: 100%;
    padding: 0;
}

#map-mapbox{
    width: 100%;
    height: 50vh;
}

#map-heading{
    grid-column: 1/3;
    grid-row: 1/2;
}

#map-layer{
    grid-column: 1/3;
    grid-row: 2/3;
}

/* #CalendarPlot{
    grid-column: 1/2;
    grid-row: 3/4;
} */

#matrixChart{
    grid-column: 1/2;
    grid-row: 3/4;
}

/*Detail panels grid arrangements*/
#details-panel {
    display: grid;
    grid-template-columns: 50% 50% ;
    grid-template-rows: 33.33% 33.33% 33.33%;
    background-color: #FFFFFF;
    /*box-shadow: -2px 0px 20px -5px #7a7a7a;*/
}


#LinePlot1{
    grid-column: 1/2;
    grid-row: 1/2;
}

#LinePlot2{
    grid-column: 2/3;
    grid-row: 1/2;
}

#LinePlot3{
    grid-column: 1/2;
    grid-row: 2/3;
}

#LinePlot4{
    grid-column: 2/3;
    grid-row: 2/3;
}

#LinePlot5{
    grid-column: 1/2;
    grid-row: 3/4;
}

#LinePlot6{
    grid-column: 2/3;
    grid-row: 3/4;
}

.myCircle:hover {
  stroke: black;
}


/*Detail panels grid arrangements end*/

#heading {
    margin-left: 0;
}

/*map styles*/
.map {
    width: 100%;
    /*height: 100%;*/
    background-color: white;
}
#map-heading {
    fill: #212529;
    /*font-size: 48px;*/
    font-family: 'Signika', sans-serif;

    text-align: center;
    margin: auto;
}

.map-layer {
    background-color: white;
    stroke: #aaa;
}

#sidebar-right1{
    background-color: white;
}
#sidebar-right2{
    background-color: white;
}

.sidebar-slider-heading{

    /*margin: auto;*/
    margin-left: 17px;
    margin-top: 10px;
}

.slider-name{
    margin: auto;
}

.slider{
    width: 100px;
}


.legend {
    position:absolute;
    left:20px;
    top:30px;
}

.yaxis {
    font: 10px sans-serif;
}
/*map styles ends*/

/*sidebar styles*/
.sidebar{
    background-image: var(--gradient);
}

/*sidebar style end*/

.education-path {
    pointer-events: none;
}


.cancertype{
    pointer-events: none;
}


.axis line,
.axis path {
    shape-rendering: crispEdges;
    fill: transparent;
    stroke: #555;
}
.axis text {
    font-size: 11px;
}


.bar {
    fill-opacity: 0.5;
}
.bar.left {
    fill: steelblue;
}
.bar.right {
    fill: firebrick;
}
.incomeChart{
    display: block;
    margin: auto;
}


.insuranceChart{
    display: block;
    margin: auto;
}

.brushed {
            fill: #ff3399;
            stroke: #8e1b54;
            opacity: 1.0;
        }

.point {
            fill: #4393c3;
            stroke: "black";
            opacity: 1.0;
        }